/* CSS Document */
#sddm{	
    margin: 0 auto;
	margin-top:10px;
	padding: 0;
	background:#0666C5;
	float:right;
	z-index: 30;
	width: 80px;
	height:25px;}

#sddm li
{	margin: 0;
	padding: 0;
	height:25px;
	background:#0666C5;
	list-style: none;
	float: left;
	font: bold 12px arial}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	color:#FFFFFF;
	width: 60px;
	text-align: center;
	text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #0666C5;
	border: 1px solid #5970B2}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 12px arial}

	#sddm div a:hover
	{	background: #49A3FF;
		color: #FFF}
.login-menu{
margin-top:0;
}