body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  width: 230px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-block {
display: block;
width: 100%;
padding-right: 0;
padding-left: 0;
}
.btn-lg {
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
}
.btn-primary {
color: white;
background-color: #428BCA;
border-color: #357EBD;
}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
float: left;
margin-left: -20px;
}
input[type="radio"], input[type="checkbox"] {
margin: 4px 0 0;
margin-top: 1px 9;
line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
padding: 0;
box-sizing: border-box;
}
h2, .h2 {
font-size: 30px;
}
h1, h2, h3 {
margin-top: 20px;
margin-bottom: 10px;
}
.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: white;
border: 1px solid #CCC;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
margin-bottom: 10px;
}
.radio, .checkbox {
display: block;
min-height: 20px;
padding-left: 20px;
margin-top: 10px;
margin-bottom: 10px;
vertical-align: middle;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
float: left;
margin-left: -20px;
}
input[type="radio"], input[type="checkbox"] {
margin: 4px 0 0;
margin-top: 1px 9;
line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
padding: 0;
box-sizing: border-box;
}
.form-signin .checkbox {
font-weight: normal;
}
label {
cursor: default;
}
input[type="checkbox"] {
-webkit-appearance: checkbox;
box-sizing: border-box;
}
user agent stylesheetinput[type="radio"], input[type="checkbox"] {
margin: 3px 0.5ex;
padding: initial;
background-color: initial;
border: initial;
}
input[type="checkbox"] {
-webkit-appearance: checkbox;
box-sizing: border-box;
}
user agent stylesheetinput[type="radio"], input[type="checkbox"] {
margin: 3px 0.5ex;
padding: initial;
background-color: initial;
border: initial;
}
user agent stylesheetinput, input[type="password"], input[type="search"], isindex {
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
}
.login-a{
  max-width: 330px;
  padding-left: 70px;
  margin: 0 auto;
  font-size:10px;
}

/*register*/
#content {
min-height: 420px;
margin:0 auto��
}
h1 {
word-wrap: break-word;
display: block;
font-size: 25px;
font-weight: bold;
color: #494949;
margin: 0;
padding: 0 0 15px 0;
line-height: 1.1;
}

.article {
width: 590px;
padding-right: 40px;
margin:0 auto;
}
form {
position: relative;
left: 0;
top: 0;
}
.item {
clear: both;
margin: 15px 0;
}
.basic-input {
width: 200px;
padding: 5px;
height: 18px;
font-size: 14px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #C9C9C9;
}
.disabled {
color: #999;
background: #F0F0F0;
border: 1px solid #B9B9B9;
}
.btn-submit {
cursor: pointer;
font-size: 14px;
font-weight: bold;
padding: 6px 26px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
.suggestion {
padding-left: 75px;
}
.tips, #location, .agreement-label {
font-size: 12px;
color: gray;
}